:root {
  --brand-color: #2196f3;
  --text-color: #212121;
  --text-color2: #757575;
  --text-color3: #fff;
  --color-btn: #188ce8;
  --background-color1: #fff;
  --background-color2: #f5f4fa;
  --background-color3: #2f303a;
  --background-color4: #e5e5e5;
  --icon-color: #afb1b8;
  --card-gap: 30px;
  --card-item: 1;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}
