.projects-item {
  @media screen and (min-width: 768px) {
    --card-item: 2;
  }
  @media screen and (min-width: 1200px) {
    --card-item: 3;
  }
}
.projects-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}
.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-thumb {
  position: relative;
  overflow: hidden;
}
.projects-link:hover .projects-overlay,
.projects-link:focus .projects-overlay {
  transform: translatex(0);
}
.projects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: var(--text-color3);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  background-image: linear-gradient(to right, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  transform: translatey(100%);
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}
.projects-wrapper {
  padding: 20px 24px;
  font-size: 16px;
  line-height: 1.9;
  border-top: none;
  border: 1px solid #eeeeee;
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
