.skills__list {
  padding-top: 0;

  @media screen and (min-width: 768px) {
    --card-item: 2;
  }
  @media screen and (min-width: 1200px) {
    --card-item: 4;
  }
}
.skills__wrap {
  display: flex;
  padding: 25px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color2);
  border-radius: 3px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.skills__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color);
  
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
