.team__item {
  --card-item: 1;
  text-align: center;
  background-color: var(--background-color1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    --card-item: 2;
  }
  @media screen and (min-width: 1200px) {
    --card-item: 4;
  }
}
.team__wrapper {
  padding: 30px 32px;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color);
}

.team__work {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color2);
}
