.filters-item {
}
.btn-filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--background-color2);
  color: var(--text-color);
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}
.btn-filters:hover,
.btn-filters:focus {
  color: var(--text-color3);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-list {
  display: flex;
  flex-wrap: wrap;

  --card-gap: 9px;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}
