.header .logo {
  padding-top: 26px;
  padding-bottom: 26px;
}
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-color);
}
.logo--black {
  color: #000;
}
.logo--white {
  color: var(--text-color3);
}
