.menu-btn {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.menu-btn:active {
  fill: var(--brand-color);
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 48px 40px;
  background-color: var(--background-color1);

  visibility: hidden;
  opacity: 0;
  transform: translatex(100%);
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}
.menu.is-open {
  visibility: visible;
  opacity: 1;
  transform: translatex(0);
}
.menu {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  letter-spacing: 0.02em;
  &__close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 6px;
    background: var(--background-color1);
    border: none;
    cursor: pointer;
    transition-property: fill, border;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
  }
  &__close:active {
    fill: var(--brand-color);
  }
  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 36px;
    font-size: 40px;
    line-height: calc(47 / 40);
    color: var(--text-color);
    margin-bottom: auto;
  }
  &__nav-item {
  }
  &__nav-link {
  }
  &__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: auto;
  }
  &__contacts-tel {
    font-size: 34px;
    line-height: calc(40 / 34);
    color: var(--brand-color);
  }
  &__contacts-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
  }
  &__contacts-link {
  }
  &__social-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    color: var(--brand-color);
  }

  &__social-link {
    display: flex;
    .menu__social-item:not(:last-child) &::after {
      content: '';
      display: block;
      margin-left: 10px;
      width: 1px;
      background-color: rgba(33, 33, 33, 0.2);
    }
  }
}
