.nav__list {
  display: flex;
  color: var(--text-color);
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
}

.nav_active {
  color: var(--brand-color);
  position: relative;
}

.nav_active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  background-color: var(--brand-color);
  height: 5px;
  border-radius: 50px;
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}
