h1,
h2,
h3,
h4,
ul,
li,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
}
